.hidden{
    display: none;
}


.form-control{
    display: inline-block;
    margin-top:5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.inline-block{
    display: inline-block;
}

.nav-wrapper{
    padding-left: 5rem;
    padding-right: 5rem;
}